html,
body {
  height: 100vh;
  height: 100%;
  /* Prevent scroll on narrow devices */
}

body {
  font-family: 'PT Serif';
  /* padding-top: 8vmax; */
  /* position: fixed; */
  /* overflow: hidden; */
  /* display: flex;
  flex-direction: column; */
}

h1,
h2,
h3,
h4,
h5.h6 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

section {
  margin: 0px;
  padding: 0px;
}

button {
  border: none;
  background: none;
}

button:focus {outline:0;}

.nav-button {
  /* margin-top: 5px; */
  margin-top: -15px;
}
.navbar{
  height: 10vw;
  height: 10%;
  padding-left: 50px;
  padding-right: 50px;
}
.undernav{
  height: 90vw;
  height: 90%;
}
.navbar-nav{
	padding: 10vh 0;
}
.wolfique-shop-icon{
  max-width: 100%;
  /* width: 22px; */
  width: 2vw;
  /* padding-bottom: 8px; */
  padding-bottom: 0.8vw;
}

#navbarSideClose{
  width: 100%;
  text-align: end;
  /* padding-right: 43px; */
  margin-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

a,a:active, a:focus, button { outline: none !important;
  border: none !important;        
  text-decoration: none !important;
  box-shadow: none !important;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none; }

a.nodecor {
  color:#000 !important;
  text-decoration: none !important;
}

a.nodecor h3{
  font-size: 1.85vw;
}

.fixed-top {
  background-color: white;
  padding: 50px 50px 20px 50px;
}

.hp {display: none;}

.placeholder-err::-webkit-input-placeholder, .placeholder-err::placeholder {
  color: #ff0000
}

/*****************************   HOME ***************************************/

#sticky {
  position: sticky;
  position: -webkit-sticky;
  height: 100%;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: url(../img/francoise-belizaire-home.jpg) center top no-repeat;
  background-size: cover;
}

.slogan {
  position: absolute;
  /* top: 80% !important; */
  bottom: 25% !important;
  /* font-size: 28px; */
  font-size: 1.83vw;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.aboutimg{
	 background: url(../img/meet-wolff-04-transparent.png) center top no-repeat;
   background-size: cover;
}
.aboutimg img{
  display: none;
}
.aboutimg .img-fluid{
  position: sticky; 
  /* top:45px; */
  height: 100vh;
}
.client_services ul li {
  margin: 20px;
  margin: 12px 20px;
  /* font-size: 58px; */
  /* font-size: 30px; */
  font-size: 2.5vw;
  font-weight: bold;
  font-family: 'PT Serif';
}
#home .container-fluid{
overflow: hidden;	
}
.client_services {
  flex:1 0 auto;
  display: flex;
  flex-direction: column;
}

/* 


.client_services .learnmore {
  margin-top: 40px !important;
} */

/* .client_services button{
  margin-top: 25px;
} */
.client_services .learnmore .learnmore-center {
  margin-top: 4px;
}

.client_services .actionbutton {
  /* margin-top: 150px; */
  /* margin-bottom: 80px; */
  /* width: 100%; */
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
}

.client_services .learnmore .sertitle {
  /* font-size: 22px; */
  font-size: 1.45vw;
      font-family: 'Montserrat';

}

.client_services .learnmore h5 {
  /* margin-top: 25px; */
  font-size: 35px;
  font-weight: 600;
  font-size: 30px;
}

.b2b {
  margin: 0;
}

#clientservices .b2b h3 {
  margin-bottom: 40px;
}

#clientservices .title {
  /* font-size: 30px; */
  font-size: 1.95vw;
}

#clientservices .b2b .subtitle {
  /* font-size: 30px; */
  font-size: 1.5vw;
  /* font-family: 'pt'; */
  font-weight: bold;
  text-transform: none;
}
.client_services {
    /* padding: 0; */
   
}


#clientservices .b2b p {
  /* font-size: 24px; */
  font-size: 1.3vw;
  font-family: 'PT Serif';
  font-style: italic;
}
.textareatitle{
	margin-bottom: 15px;
}
/* #clientservices .b2c-collapse.open {
  background: url('../img/b2c_background.jpeg') center !important;
} */
#clientservices .b2c .title {
     font-size: 30px;
   
}
#clientservices .b2c .subtitle {
    /* font-size: 22px; */
    font-size: 1.5vw;
    font-family: 'MONTSERRAT';
    font-weight: 600;
    margin: 1% 0;
}

#clientservices .b2c h3 {
  margin-bottom: 50px;
}

#clientservices .b2c p {
  margin-bottom: 50px;
}

#clientservices .b2c li {
    /* font-size: 16px; */
    font-size: 1vw;
    font-weight: normal;
    font-family: 'Montserrat';
    margin-bottom: 10px;
    text-transform: uppercase;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0px 0;
}
/* #about, #mobreview{
  margin-top: 8vw!important;
} */
#about .aboutmain{
  height: 100%;
}
#about h3 {
  font-size: 1.95vw;
}

#about p {
  margin-top:20px;
  /* font-size: 0.87vw; */
  font-size: 0.82vw;
}
.aboutcont{
	/* margin-top: 51px; */
	
}
#about .contact{
	    font-weight: 600;
}
#about .contact a{
	     color: black;
    text-decoration: none;
    /* font-size: 22px; */
    font-size: 1.5vw;
    font-family: 'Montserrat';
}
#testimonials h3 {
  font-size: 30px;
  padding: 10vh 0;
}

.total {
  min-height: 90vh;
}

.cuarto {
  display: inherit;
  margin: 0px !important;
  padding: 0px !important;
}

#mobreview p{
  font-size: 1vw;
}

#mobreview h3{
  font-size: 1.95vw;
  margin-bottom: 5vw;
}

#mobreview h4{
  font-size: 1.2vw;
}

#mobreview h5{
  font-size: 1vw;
}

#contact h3{
  font-size: 1.95vw;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 1vw;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  font-size: 1vw;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  font-size: 1vw;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  font-size: 1vw;
}

input.form-control, select.form-control, textarea.form-control{
  font-size: 1.3vw;
}
.modal label{
  padding: .375rem .75rem;
  font-size: 1.3vw!important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px black inset !important;
    -webkit-text-fill-color: #ffffff;
}

/*****************************  NAVIGATION **********************************/

/*.navbar-toggler-icon color: #000!important;}
  .navbar-nav {flex-direction: column !important;} */


.navbar-brand {
  /* font-size: 2em; */
    font-size: 2.085vw;
      font-weight: 900;
    font-family: 'Bodoni Moda';
    margin-top: 5px;
}

.nav-item {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat';
}

/*menu element*/
.nav-buton {
  z-index: 9999;
}

.offcanvas-collapse {
  position: fixed;
  top: 0px;
  /* Height of navbar */
  bottom: 0;
  left: 100%;
  /* width: 44%; */
  width: 33%;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-y: auto;
  visibility: hidden;
  /* background-color: #343a40; */
  background-color: #000000;
  transition: transform .3s ease-in-out, visibility .6s ease-in-out;
}

.offcanvas-collapse.open {
  visibility: visible;
  transform: translateX(-100%);
  z-index: 99;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}


/**** NAVIGATION ITEMS **************/



.nav-link {
  /* font-size: 2em; */
  font-size: 2.085vw;
  padding: 0.5em;
  color: #fff !important;
}

.muted {
  opacity: 0.1;
}

.carouselicon{
	   
    transform: rotate(-180deg);
	
}
.carouselicon img{
	    width: 140px;	
}.carouselricon img{
	    width: 140px;	
}
.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}
.navbar-toggler-icon i
{
    font-size: 2.085vw !important;
    /* margin-left: -38px; */
}
.navbar-toggler-icon img
{
    width: 2.085vw !important;
    vertical-align: baseline;
    /* margin-left: -38px; */
}
/***********************      CLIENT SERVICES      ************************/

.black {
  color: #000 !important;
  font-size: 3em;
  font-size: 2.5em;
  text-align: center;
  list-style: none;
  margin: 0 auto;
}


.b2c-collapse {
  position: fixed;
  top: 0px;
  /* Height of navbar */
  bottom: 0;
  left: 100%;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-y: auto;
  visibility: hidden;
  background: #fff !important;
  transition: transform .3s ease-in-out, visibility .6s ease-in-out;
  z-index: 1031;
}

.b2c-collapse.open {
  visibility: visible;
  transform: translateX(-100%);
}

.b2b-collapse {
  position: fixed;
  top: 0px;
  /* Height of navbar */
  bottom: 0;
  left: -100%;
  width: 100%;
  background: #fff !important;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-y: auto;
  visibility: hidden;

  transition: transform .3s ease-in-out, visibility .6s ease-in-out;
  z-index: 1031;
}

.b2b-collapse.open {
  visibility: visible;
  transform: translateX(100%);
  transition: transform .3s ease-in-out, visibility .6s ease-in-out;
}


.b2c ul li {
  list-style-type: none;
  margin: 5px!important;
}

/* .b2c-collapse-rightSide {
  background: url(../img/services-b2c-Events-Background.jpg) center cover no-repeat !important;

} */

.b2c-collapse-rightSide ul li {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;

}

/* .b2b-collapse-leftSide {
  background: url(../img/services-b2b-Events-Background.jpg) center cover no-repeat !important;
} */

.b2b-collapse-leftSide h3 {
  margin: 1.1em;
}

.b2b-collapse-leftSide button {
  margin: 1.1em;
}

/***************  ABOUT TESTIMONIALS   ******************************/


.bg-purple {
  background-color: #6f42c1;
}

.carousel-caption {
  color: #343a40;
}

.carousel-control-next,
.carousel-control-prev {
  color: #343a40;
}

form {
  width: auto;

}

.form-control {
  margin: 2.5em;
  border-radius: 0 !important;
  border: none;
  border-bottom: solid 1px #343a40;
  width: 100%;
  font-style: italic;
  font-size: 1em;
}

.btn-send {
  margin-left: 2em;
  font-size: 1.3em;
}

.btn-send i {
  margin-left: 7px;
}

.sideContact {
  background-color: #edecec !important;
}

.iconContact-1 {
  margin-left: 0px;
  width: 3.2vw;
  height: 3.2vw;
}

.iconContact-2 {
  margin-left: 20px;
  width: 3.2vw;
  height: 3.2vw;
}


.arrow {
  display: inline-block;
  position: absolute;
  width: 60px;
  height: 60px;
  background: transparent;
  text-indent: -9999px;
  border-top: 2px solid #bfbfbf;
  border-left: 2px solid #bfbfbf;
  transition: all 250ms ease-in-out;
  text-decoration: none;
  color: transparent;
}

.arrow:hover {
  border-color: gray;
  border-width: 5px;
}

.arrow:before {
  display: block;
  height: 200%;
  width: 200%;
  margin-left: -50%;
  margin-top: -50%;
  content: "";
  transform: rotate(45deg);
}

.arrow.prev {
  transform: rotate(-45deg);
  left: 0;
}

.arrow.next {
  transform: rotate(135deg);
  right: 0;
}

.arrow.up {
  transform: rotate(45deg);
  left: 175px;
}

.arrow.down {
  transform: rotate(-135deg);
  right: 175px;
}

.text-justify {
  text-align: justify;
}

/* #contact.cover-container {
  padding: 6vh 0;
} */

.navbar-brand.logo {
  transition: ease all 0.5s;
}

/* .navbar-brand.logoSmall {
  font-size: 2em;
} */

#clientservices .b2b .content button {
  position: absolute;
  top: -22px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0px;
}
#clientservices .b2c .content button {
    position: absolute;
    top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
}
#clientservices .content {
  position: relative;
}

#clientservices .content ul {
  padding: 0;
}

.moreInfoBtn {
  margin-top: 3%;
  font-family: 'Montserrat';
  /* font-size: 22px; */
  font-size: 1.5vmax;
  font-weight: 600;

}
.moreInfoBtns{
	text-align:right !important;
	margin:0 !important;
}
.modal-backdrop {
  background-color: #fff;
}

.modal-backdrop.show {
  opacity: .9;
}

.modal.show .modal-dialog {
  transform: none;
  max-width: 85%;
}



.modal.show .modal-dialog.modal-fullwidth {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  margin: 0;
}

.modal.show .modal-dialog.modal-fullwidth .modal-content {
  border-radius: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
}



.testTitleBtm {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
  color: #434343;
  text-transform: uppercase;
  font-size: 15px;
}

.testTitles {
 /*  position: absolute;
  bottom: calc(5% + 35px);
  left: 50%;
  transform: translate(-50%);
  width: 100%; */
  padding: 3rem !important;
}

.testTitles h4 {
  font-size: calc(1rem + .3vw);
  font-weight: 600;
}

.testTitles h5 {
  font-size: 0.95rem;
}

.modal.show .modal-dialog.modal-fullwidth .btn-close {
  /* right: 7%; */
  right: 1.5vw;
  top: 1%
}

.cover-container {
  align-items: center;
  /*justify-content: center;*/
  display: flex;
  flex-direction: column;
}

.cover-container .testimonials {
  width: 100%;
  position: relative;
}

.cover-container .testimonials .testTitle {
  position: absolute;
  top: 30px;
  z-index: 2;
  width: 100%;
  text-align: center;
  display: block;
}

#testimonials .carousel-item {
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 1000px;
  min-height: 200px;
}

#testimonials .carousel-item .carousel-caption {
  background: #fff;
}

.desk-testi {
  display: block;
}
.mobi-testi, .tab-testi {
  display: none;
}

/* #mobreview h3 {
  margin-top: 40px;
  margin-bottom: 30px;
} */

#mobreview ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#mobreview ul li a {
  text-decoration: none;
  display: block;
}

#mobreview ul li h4 {
  color: #121212;
  font-weight: bold;
}

#mobreview ul li h5 {
  color: #121212;
}

#mobreview ul li p {
  display: none;
}

#testimonials .carousel-caption {
  top: 15%;
  bottom: 15%;
  text-align: center;
  padding: 2rem;
  max-height: max-content;
  min-height: 300px;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: '\f054';
  font-size: 50px;
  color: #000;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-top: 20px;
  display: block;
}

.carousel-control-prev-icon:after {
  content: '\f053';
  font-size: 50px;
  color: #000;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-top: 20px;
  display: block;
}

.servModal .form-control {
  margin: 0;
  background: transparent;
  border: 0px;
  color: #fff;
}
input.form-control {
	width: 60%;
}
.servModal .selectBox {
  position: relative;
  display: inline-flex;
}

.servModal .selectBox select {
  position: relative;
  background: url(../img/icoDropDown.ioc) no-repeat 0 0;
  display: inline-block;
  background-position: 96%;
  width: 100%;
  /* padding: 0 40px 0 5px; */
  /* padding: auto; */
}

.servModal .form-control.textarea {
  resize: none;
  background: #121212;
  padding: 15px;
  outline: none;
  margin: 15px 0;
}
.thankyouModal .btn-close {
    /* position: absolute; */
    /* right: 3%; */
    /* top: 10px; */
    margin: 25px auto;
}

select option:checked {
  background: #ff9500 -webkit-linear-gradient(bottom, #ff9500 0%, #ff9500 100%);
  color: #fff;
}

select option:hover {
  background: #ff9500 -webkit-linear-gradient(bottom, #ff9500 0%, #ff9500 100%);
  color: #fff;
}

select option {
  padding: 8px;
  color: #000;
}

select {
  z-index: 1800;
  position: absolute;
  background: #fff;
  /* height: 33px; */
  overflow: hidden;
  width: 30%;
  outline: none;
}

.servModal .btn-send {
  margin: 0;
}

.servModal .btn-close {
  position: absolute;
  right: 3%;
  top: 10px;
}

.modal-content {
  border-radius: 14px;
  background-color: #000;
  color: white;
}

.modal label {
  font-family: 'PT Serif';
  font-size: 24px;
  font-style: italic;
      float: left;
}

.modal label span {
  font-family: 'PT Serif';
  font-size: 18px;
  font-style: italic;
  color: #797979;
}


.modal label span.error {

  color: #ff0000;
}

#about h3 {
  margin-top: 40px;
}

.carousel-item .carousel-caption {
  display: flex;
}
/* 
#clientservices.cover-container,
.cover-container .testimonials {
  padding-top: 100px;
} */
/* .client_services{
	padding: 15vh 0;
} */
.fixbar .nav-button {
  margin-top: -25px;
}

.modal h5 {

  font-weight: 600;
  text-align: center;
  min-height: 49px;
}

.sendbtn {
  /* Chrome/Opera/Safari */
  text-align: center;
  margin: 28px 0 25px 0;
}

.sendbtn button {
  background: url(../img/icoSendModal.ioc);
  background-size: contain;
  /* width: 59px;
  height: 42px; */
  width: 3vw;
  height: 2.2vw;
  outline: none;

}

.b2c-collapse li {
  cursor: pointer;
}

.fixbar {
  background-color: #fff;
}

/* .nav-button {
  width: 70px;
  height: 70px;
} */

.contactWrp h3 {
  /* font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #212121;
  margin: 0 0 15px 0;
  text-transform: uppercase;
  font-weight: 600; */
  font-size: 1.95vw;
}

.contactWrp .h2 {
  font-family: 'PT Serif', sans-serif;
  font-size: 1.45vw;
  color: #212121;
  font-weight: bold;
  /* line-height: 130%; */
  margin-bottom: 4rem;
}

.contactWrp .h3 {
  font-family: 'Montserrat', sans-serif;
  color: #212121;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.contactWrp label {
  font-family: 'PT Serif';
  font-size: 1.45vw;
  font-style: italic;
  color: #212121;
  margin: 0 15px 0 0;
}

.contactWrp .form-control {
  display: inline-block;
  position: relative;
  width: auto;
  border: 0;
  font-size: 1.45vw;
  margin: 0;
}

.contactWrp .sendbtn button {
    background: url(../img/sent-icon-2.png);
    /* width: 75px;
    height: 65px; */
    width: 3.9vw;
    height: 2.5vw;
    background-repeat: no-repeat;
    background-size: contain;
}

.thankyouWrp {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 20vh 0;
}

.thankyouWrp h2 {
  font-family: 'PT Serif';
  font-style: italic;
  margin-bottom: 2rem;
  text-transform: none;
  font-size: 1.8vw;
}

.thankyouWrp p {
  font-family: 'PT Serif';
  font-style: italic;
  margin-bottom: 2rem;
  font-size: 0.9vw;
}

@media screen and (max-width: 1600px) {

  .contactWrp label {
    font-size: x-large;  
  }

  .contactWrp .form-control {
    font-size: x-large;
  }
  
  .contactWrp .h2 {
    font-size: x-large;
    font-weight: bold;
  }
}

@media screen and (min-width: 575px) and (max-width: 1200px) {
  .aboutmain .desk-testi, .aboutmain .mobi-testi{
    display: none;
  }
  .aboutmain .tab-testi{
    display: block;
    margin: 0;
  }
  .aboutmain h3.tab-testi{
    margin: 0!important;
  }
  .aboutmain {
    flex-direction: column-reverse !important;
    width: 100% !important;
  }
  #about .aboutmain{
    height: auto;
  }
  .aboutcont {
    width: 100% !important;
  }

  .aboutimg {
    background: none !important;
    width: 100%;
    margin-top: 40px;    
  }

  .aboutimg img {
    display: block;
    height: auto!important;
  }

  #about .aboutcont {
    background: #000;
    color: #fff;
    position: relative;
    box-shadow: 0px -30px 42px 21px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px -30px 42px 21px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px -30px 42px 21px rgba(0, 0, 0, 1);
    z-index: 1;
    margin-top: -10vw;
  }

  #about .aboutcont::after {
    content: '';
    display: block;
    width: 100vw;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -50%;
    background: #000;
    z-index: -1;
    box-shadow: 0px -63px 31px #000;
  }

  #about .aboutcont::before {
    content: '';
    display: block;
    width: 100vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -50%;
    background: #000;
    z-index: -1;
    box-shadow: 0px -63px 31px #000;
  }

  #about .contact a{
    font-size: 22px;
    color: #ffffff!important;
  }

  .cover-container {
    overflow-x: hidden;
  }
}

@media screen and (max-width: 1024px) {
/* body{
  padding-top: 70px;
} */
.navbar{
  padding-left: 0;
  padding-right: 0;
}

.navbar-toggler-icon{
  height: auto;
}

.navbar-brand, .navbar-toggler-icon i{
  font-size: 1.5rem!important;
}

#navbarSideClose{
  padding-left: 0px;
  padding-right: 0px;
  margin-top:15px;
}
.wolfique-shop-icon{
  width: 18px;
  padding-bottom: 8px;
}
.fixed-top{
  padding: 10px 10px 5px 10px;
}
#clientservices .title{
  font-size: 30px;
}
#clientservices .b2b .subtitle, #clientservices .b2c .subtitle{
  font-size: 24px;
}
#clientservices .b2b p{
  font-size: 24px;
}
#clientservices .b2c li{
  font-size: 16px;
}
.client_services .learnmore .sertitle {
  font-size: 22px;
}
#about .aboutmain{
  height: auto;
}
#about .contact a{
  font-size: 22px;
  color: #ffffff!important;
}
.aboutimg .img-fluid{
  height: auto;
}
.moreInfoBtn {
  /* font-size: 22px; */
  font-size: inherit;
}
  
  #testimonials .carousel-item {
    min-width: 100%;
	min-height: 250px;
  }

  .sendbtn button {
    width: 59px;
    height: 42px;
  }
  .contactWrp .sendbtn button{
    width: 75px;
    height: 49px;
  }
  .btn-send {
    margin-left: 0;
  }
  #mobreview p{
    font-size: 14px;
  }
  #mobreview h3{
    font-size: 1.75rem;
    margin-bottom: 10vw;
  }
  #mobreview h4 {
    font-size: 18px;
  }
  #mobreview h5 {
    font-size: 14px;
  }
  .modal.show .modal-dialog.modal-fullwidth .btn-close {
    /* right: 7%; */
    right: 7%;
    top: 1%
  }
  
  .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 14px;
  }
  .form-control::-moz-placeholder { /* Firefox 19+ */
    font-size: 14px;
  }
  .form-control:-ms-input-placeholder { /* IE 10+ */
    font-size: 14px;
  }
  .form-control:-moz-placeholder { /* Firefox 18- */
    font-size: 14px;
  }
  
  input.form-control, select.form-control{
    font-size: 16px!important;
    width: auto!important;
  }
  textarea.form-control{
    font-size: 16px!important;
    width: 100%!important;
  }
  select.form-control{
    padding: 0;
  }
  .modal label{
    padding: 0;
    font-size: 16px!important;
  }
  .servModal .selectBox select{
    padding: 0 40px 0 0px;
  }

  .aboutimg{
    background: none;
    margin-top: 40px;
  }
  .aboutimg img{
    display: block;
  }
  .thankyouWrp h2 {
    font-size: 22px;
  }
  .thankyouWrp p {
    font-size: inherit;
  }
  #contact h3{
    font-size: 22px;
  }
  .iconContact-1 {
    margin-left: 0px;
    width: 62px;
    height: 62px;
  }
  
  .iconContact-2 {
    margin-left: 20px;
    width: 62px;
    height: 62px;
  }
}

@media screen and (max-width: 768px) {
  a.nodecor h3 {
    font-size: inherit;
  }

  .form-control {
    margin: 1em 0em;
  }
  
  #mobreview.vh-100 {
    height: auto !important;
  }
}

@media screen and (max-width: 576px) {
  .navbar-brand {
    font-size: 1.5em;
    margin-right: 0;
  }
  
  .navbar-toggler-icon i {
    font-size: 1.5em !important;
  }

  .navbar-toggler-icon img {
    width: 24px !important;
    vertical-align: baseline;
    /* margin-top:10px;
    margin-right:10px; */
    /* padding-left: 10px; */
  }

  a.nodecor h3 {
    font-size: inherit;
  }

  .desk-testi {
    display: none;
  }
  .mobi-testi {
    display: block;
  }

  .nav-button {
    margin-top: -4px;
   /* margin-top: -18px; */
    /* margin-left: -25px; */
    z-index: 9;
  }

  /* .nav-button .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  } */

  .nav-button .navbar-toggler-icon .fa-3x {
    font-size: 3em;
  }

  .black {
    padding: 0;
    font-size: 1.5em;
  }

  #sticky {
    background-size: cover;
    /* height: 100vh; */
    height: 90vh!important;
  }

  .slogan {
   
    font-size: 22px;
   
  }

  .offcanvas-collapse {
    width: 70%;
  }

  .nav-link {
    font-size: 1.2em;
    padding: 0.7em;
  }

  
  .client_services .learnmore .sertitle {
    font-size: inherit;
  }

  .learnmore div>span {
    font-size: 40px !important;
  }

  .client_services .learnmore .learnmore-center {
    margin-top: 4px;
  }
#about .aboutcont{
	
	    z-index: 1;
    /* margin-top: 93%; */
    margin-top: 87%;
    background-color: black;
    color: white;
    /* box-shadow: 0px -51px 31px #000; */
    box-shadow: 0px -30px 42px 21px rgba(0, 0, 0, 1);
    box-shadow: 0px -51px 31px #000;
    -webkit-box-shadow: 0px -30px 42px 21px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px -30px 42px 21px rgba(0, 0, 0, 1);
}
#about .aboutimg{
	position: absolute;
	overflow: hidden;
  margin-top: 40px;
}
#about .contact a {
    color: #fff;
   
}
#about .aboutimg img{
	    align-items: baseline;
    /* max-width: 111%; */
    /* width: 800px; */
    /* margin-left: -19px; */
}
#about .aboutmain{
	margin-top: 40px;
}
  #clientservices .content button {
    left: -34%;
    top: -26%;
  }

  #about h3 {
    margin-top: -20px;
    font-size: 30px;
  }

  #about p {
    font-size: 14px;
    margin-top: 20px;
	  padding: 0 10px;
  }

  .carousel-control-prev-icon:after,
  .carousel-control-next-icon:after {
    font-size: 30px;
  }

  #testimonials h3 {
    margin-top: 60px;
  }

  #testimonials .carousel-caption {
    padding: 0.6em;
  }

  #testimonials .carousel-caption h5 {
    font-size: 1.05rem;
  }

  #testimonials .carousel-item .carousel-caption p {
    font-size: 0.95rem;
  }

  .vh-100 {
    height: auto !important;
  }

  .cover-container {
    /* overflow: hidden; */
  }
.abouttitle{
	    text-align: center;
    z-index: 1;
}
  .b2c-collapse .b2c>.row,
  .b2b-collapse.b2b .container-fluid>.row {
    margin-left: 0 !important
  }

  .b2c-collapse .b2c>.row>.d-flex,
  /*.b2b-collapse.b2b .container-fluid > .row > .d-flex {padding:6rem 1.3rem 3rem 1.3rem !important}*/
  #clientservices .content {
    position: relative;
    /* margin: 12% 0; */
  }
/*   
  .b2b .moreInfoBtn {
    margin-top: 40%;
	} */
	.b2c .moreInfoBtn {
    /* margin-top: 10%; */
	}
}

@media (min-width: 411px) {
	/* .client_services .actionbutton {
    margin-top: 40%;
  
	} */
  
  /* .navbar-toggler-icon i {
    font-size: 1.5em !important;
  } */

  /* .navbar-toggler-icon img {
    width: 24px !important;
    margin-top:10px;
    margin-right:10px;
    padding-left: 10px;
  } */

	/* #mobreview h3 {
    margin-top: 50px;
    margin-bottom: 40px;
	} */
	/* #contact.cover-container {
    padding: 6vh 0;
	} */
}
@media (min-width: 731px) {
	
	/* #contact.cover-container {
    padding: 6vh 0;
	} */
}
@media (min-width: 576px) and (max-width: 767.98px) {
  a.nodecor h3 {
    font-size: inherit;
  }
	#sticky {
    background-size: cover;
  }
  .moreInfoBtn {
    margin-top: 0;
	}
  .slogan {
    font-size: 22px;
    text-shadow: 0px 0px 4px rgb(0 0 0 / 79%);
   
  }

  .nav-button {
    /* margin-top: -25px; */
  }
#testimonials.vh-100 {
   height: auto !important;
}
.contactright{
	    margin-top: 60px;
    z-index: 1;
}
#about.vh-100 {
   height: auto !important;
}
.offcanvas-collapse {
    width: 70%;
  }

#contact.vh-100 {
    height: auto !important;
}
  /* #about.cover-container {
    margin-top: 35%;
  } */
.contactWrp label {
	float:left;
}
.abouttitle{
	margin-top: 15px;
}
.modal label {
   
    font-size: 18px;
	line-height: 33px;
}
/* .client_services .actionbutton {
    margin:0;
} */

  .modal.show .modal-dialog {
        margin: 0;
    max-width: 100%;
}
  .client_services .learnmore h5 {
    margin-top: 4px !important;
    font-size: 20px;
    font-weight: 600;
  }

  .client_services ul li {
    margin: 20px;
    margin: 5px 20px;
    font-size: 30px;
  }

  #clientservices .b2b .content button {

       left: 100%;
    top: -5%;

  }

  #clientservices .b2c .content button {

        left: 100%;
    top: -5%;

  }
#clientservices .client_services {
    padding: 0;
}
  #about h3 {
    margin-top: 60px;
    font-size: 30px;
  }

  #about p {
    font-size: 14px;
    margin-top: 20px;
  }


  #testimonials.cover-container {
    margin-top: 130px;
  }

  #testimonials .carousel-caption {
    top: 35%;
  }


}



@media (min-width: 768px) and (max-width: 991.98px) {
  a.nodecor h3 {
    font-size: inherit;
  }
	.moreInfoBtn {
    margin-top: 0;
	}
  .slogan {
    font-size: 22px;
       text-shadow: 0px 0px 4px rgb(0 0 0 / 79%);
    
  }

  .nav-button {
    /* margin-top: -25px; */
    margin-left: -25px;
  }
.abouttitle {
    margin-top: 15px;
}
#about.vh-100 {
    height: auto !important;
}

#contact.vh-100 {
    height: auto !important;
}
.contactWrp label {
	float:left;
}
input.form-control {
   width: 60% !important;
}
.modal label {
   
    font-size: 18px;
	line-height: 33px;
}
/* .client_services {
	    padding: 30vh 0;
} */
/* .client_services .actionbutton {
        margin-top: 307px;
    margin-bottom: -211px;
} */
  .client_services .learnmore h5 {
    margin-top: 4px !important;
    font-size: 20px;
    font-weight: 600;
  }
  .modal.show .modal-dialog {
        margin: 0;
    max-width: 100%;
}
#clientservices .b2b .content button {
  
    top: -22px;
   
    left: 100%;
}
  .client_services ul li {
    margin: 20px;
    margin: 5px 20px;
    font-size: 30px;
  }

  #clientservices .content button {

    left: -68px;
    top: -62px;

  }

  #clientservices .b2c .content button {

    left: 100%;
    top: -5%;

  }
#sticky {
    background-size: cover;
}
  #about h3 {
    margin-top: 60px;
    font-size: 30px;
  }

  #about p {
    font-size: 14px;
    margin-top: 20px;
  }


  #testimonials.cover-container {
    margin-top: 130px;
  }

  #testimonials .carousel-caption {
    top: 35%;
  }
}

@media (min-width: 812px) {
	/* .client_services .actionbutton { 
    margin-top: 0px;
   margin-bottom: 50px;
	} */
	/* .client_services {
	    padding: 10vh 0;
	} */
	#testimonialsCarousel{
		 padding: 30vh 0;
	}
	
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  a.nodecor h3 {
    font-size: inherit;
  }
	.moreInfoBtn {
    margin-top: 0;
	}
  .slogan {
    font-size: 22px;
       text-shadow: 0px 0px 4px rgb(0 0 0 / 79%);
    
  }
#sticky {
    background-size: cover;
}
  .nav-button {
    /* margin-top: -25px; */
    margin-left: -25px;
  }
.abouttitle {
    margin-top: 15px;
}
#about.vh-100 {
    height: auto !important;
}
#contact.vh-100 {
    height: auto !important;
}
.contactWrp label {
	float:left;
}
input.form-control {
   width: 60% !important;
}
.modal label {
   
    font-size: 18px;
	line-height: 33px;
}
/* .client_services .actionbutton {
    margin-top: 217px;
    margin-bottom: -84px;
} */
  .client_services .learnmore h5 {
    margin-top: 4px !important;
    font-size: 20px;
    font-weight: 600;
  }
  .modal.show .modal-dialog {
        margin: 0;
    max-width: 100%;
}
#clientservices .b2b .content button {
  
    top: -22px;
   
    left: 100%;
}
.client_services ul{
	padding: 18vh 0;
}
/* .aboutmain{
	    padding: 10vh 0;
} */
  .client_services ul li {
    margin: 20px;
    margin: 5px 20px;
    font-size: 30px;
  }

  #clientservices .content button {

    left: -68px;
    top: -62px;

  }

  #clientservices .b2c .content button {

    left: 100%;
    top: -5%;

  }

  #about h3 {
    margin-top: 60px;
    font-size: 30px;
  }

  #about p {
    font-size: 14px;
    margin-top: 20px;
  }


  #testimonials.cover-container {
    margin-top: 130px;
  }
#testimonialsCarousel{
		padding: 40vh 0px;
}
  #testimonials .carousel-caption {
    top: 35%;
  }
	
}

@media screen and (min-width: 576px) and (max-width: 1100px) {
	/* #contact.cover-container {
    padding: 6vh 0;
	} */
}

@media (min-width: 1100px) {
	/* .client_services {
    padding: 0vh 0;
	} */
	/* .client_services .actionbutton {
    margin-top: 0;
    margin-bottom: 0;
} */
  
	#sticky {
    background-size: cover;
	}
	.client_services ul {
    padding: 20vh 0;
}
	#testimonialsCarousel
	{
		    padding: 40vh 0px;
	}
	#contact.cover-container {
    /* padding: 6vh 0; */
    justify-content: center;
	}
	.vh-100 {
		height: auto !important;
	}
}

@media (min-width: 1200px) {
	
	#sticky {
    background-size: cover;
	}
	/* .client_services .actionbutton {
   margin-top: 200px;
    margin-bottom: -70px;
	} */
	#testimonialsCarousel
	{
		    padding: 40vh 0px;
	}
	/* #contact.cover-container {
    padding: 15vh 0;
	} */
.vh-100 {
    height: auto !important;
}

}

@media screen and (max-width: 420px) {
  /* #clientservices.cover-container {
    padding-top: 16vh;
  } */


  .navbar-toggler-icon i {
    font-size: 1.5em !important;
  }

  .navbar-toggler-icon img {
    width: 24px !important;
    vertical-align: baseline;
    /* margin-top:10px;
    margin-right:10px; */
    /* padding-left: 10px; */
  }

  a.nodecor h3 {
    font-size: inherit;
  }
  .client_services ul li {

       font-size: 26px;
    font-family: 'PT Serif';
    /* font-weight: bold; */

  }

  .servModal .form-control.textarea {
    padding: 10px;
    height: 90px;
  }

  #clientservices .b2b .subtitle {
    font-size: 20px;
    margin: 10px 0 15px;
  }

  #clientservices .b2b p {
    font-size: 14px;
  }

  /* #clientservices .b2b p br {
    display: none;
  } */

  #clientservices .b2b .content button {
        left: 100%;
    top: -8%;
  }
	#clientservices .b2c .content button {
        left: 100%;
    top: -7%;
}
#clientservices .b2c .title {
   /*  font-size: 25px; */
}
#clientservices .b2b .title {
   /*  font-size: 25px; */
}
#clientservices .b2c .subtitle {
    font-size: 18px;
    font-family: 'MONTSERRAT';
    font-weight: 600;
    margin: 3% 0;
}
#clientservices .b2c li {
    font-size: 14px;
}
  .modal.show .modal-dialog {

    max-width: 100%;
	background-color:black;
	margin: 0;

  }
.modal-content {
  border-radius: 14px;
  background-color: #000;
  color: white;
}
  .modal.show .modal-dialog .col-6 {
    width: 100%;
  }

  .modal.show .modal-dialog .p-5 {
    padding: 2rem !important;
  }

  .servModal .btn-close {
    right: 7%;
	z-index: 1;
  }

  .modal label {
    font-size: 16px;
    float: left;
	line-height: 35PX;
  }


input.form-control {
	width: 63%;
}
  .contactWrp h3 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 35px;
  }

  .contactWrp label {
    /* font-size: 18px; */
    margin: 0 0 10px 0;
  }


  .contactWrp .form-control {
    font-size: 18px;
  }

  .contactWrp .p-5 {
    padding: 2rem !important;
  }

  .contactWrp .d-flex {
    display: table !important;
    margin: auto;
  }


  .contactWrp .h2 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 2rem;
  }

  .contactWrp .h3 {
    text-align: center;
    font-size: 20px;
  }

  .contactWrp .content img {
    max-width: 62px;
    margin-bottom: 20px;
  }
}

@media (min-width: 421px) and (max-width: 576px) {
  
  .contactWrp h3 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 35px;
  }

  .contactWrp label {
    /* font-size: 18px; */
    margin: 0 0 10px 0;
  }


  .contactWrp .form-control {
    font-size: 18px;
  }

  .contactWrp .p-5 {
    padding: 2rem !important;
  }

  .contactWrp .d-flex {
    display: table !important;
    margin: auto;
  }


  .contactWrp .h2 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 2rem;
  }

  .contactWrp .h3 {
    text-align: center;
    font-size: 20px;
  }

  .contactWrp .content img {
    max-width: 62px;
    margin-bottom: 20px;
  }
}